include ../../components/head/head
include ../../components/header/header

include ../../components/list-header/list-header
include ../../components/book-card/book-card
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'umwelt • контакты',
      'читательский дневник о нехудожественной литературе, посвящённой проблемам современности',
      'http://umwelt-books.ru/img/default.jpg',
      ''
    )
body
    +header('')
    div#index
        div#main-info
            p Проще всего написать в телеграм создателю проекта Артёму Сошникову: 
                a(href="http://t.me/za_realism" target="blank") @za_realism. 
                |Если вы старовер и не пользуетесь мессенджерами, то пишите на почту: gin.and.novels🐕︎protonmail.com