include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/book-card/book-card

doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'umwelt',
      'читательский дневник о нехудожественной литературе, посвящённой проблемам современности',
      'http://umwelt-books.ru/img/default.jpg',
      ''
    )
body
    +header('')
    div#index
        div#writing
            +bookCard('В каждый город, в каждом книжном', '«Слово пацана» Роберта Гараева', 'garaev-chavs.html')
            +bookCard('Ревью в квадрате', '«Logos Review of Books», №1', 'lrb-01.html')
            +bookCard('Расщепление смерти', '«История смерти» Сергея Мохова', 'mokhov-death-history.html')
            +bookCard('Балет рабочего класса', '«Что мы думаем, когда мы думаем о футболе» Саймона Кричли', 'critchley-football.html')
            +bookCard('Страх неизбежен', '«Книга мёртвых философов» Саймона Кричли', 'critchley-dead-sophists.html')
            +bookCard('Такие выборы нам не нужны', '«Против выборов» Давид ван Рейбрука', 'van-reybrouck-against-elections.html')
            +bookCard('История отчуждения', '«Одинокий город» Оливии Лэнг', 'lang-lonely-city.html')
            +bookCard('Стоицизм — учение будущего?', '«Как быть стоиком» Массимо Пильюччи', 'pigliucchi-stoic.html')