mixin header(mode='default', modeValue='inactive')
    include ../icon/icon
    div.header(class='header_' + mode)
        div.header__logo
            a.header__logo-link(href="index.html") umwelt
        div.header__menu    
            a.header__menu-elem(href="contacts.html") контакты
