.article {
  @include colauto(0);
  align-content: center;
  max-width: 1000px;
  text-transform: none;
  font: $fontMain;
  margin: 0 0 48px 0;
  
  @include respond(mobile) {
    @include col100(0, column);
    margin: 0 0 48px 0;
    font: $fontSmall;
    line-height: 1.7;
  }

&__text {
  @include col70(0 72px 0 0, column);

  @include respond(mobile) {
    @include col100(0, column);
    font: $fontMain;
  }

  h1 {
    margin: 0 0 32px 0;
  }
}

&__data {
  @include col30(0, column);
  font: $fontSmall;

  @include respond(mobile) {
    @include col100(24px 0 0 0, column);

    figure {
      margin: 0;
    }
  }

  & img {
    width: 100%;
  }

  p {
    margin: 8px 0;
  }
}

&__image {
  margin: 12px 0 0 0;
  img {
    width: 100%;
  }
}
  
&__caption {
  @include col100(0 0 12px 0, column);
  font: $fontSmall;
  
  @include respond(mobile) {
    margin: 14px -32px 0 0;
    width: 100%;
  }
}
}
